<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.MyPortfolio.dao.IBoardDao">

	<select id="selectOne" parameterType="int" resultType="boardDto">
		SELECT * 
		FROM   BOARD
		WHERE  BOARD_NUM = #{board_num}
	</select>
	
	<select id="selectAll" resultType="boardDto" parameterType="pgDto">
		SELECT *							
		FROM  ( SELECT ROWNUM RNUM		
					 , O.*				
				FROM   ( SELECT *			
						 FROM 	  BOARD
					     ORDER BY BOARD_NUM  DESC
					    ) O 				
			  )							
		WHERE  RNUM	  &gt;= #{startNo}			
		AND    ROWNUM &lt;= #{pageSize}
	</select>

	<select id="getCnt" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>

	<insert id="insert">
		<selectKey keyProperty="board_num" resultType="int" order="BEFORE">
			SELECT BOARD_SQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD (BOARD_NUM, TITLE, WRITER, CONTENT, REGDATE, READCOUNT, REPLYCOUNT)
		VALUES(#{board_num},#{title},#{writer},#{content},SYSDATE,0,0)
	</insert>
	
	<update id="update">
		UPDATE BOARD
		SET    TITLE=#{title},
		       CONTENT=#{content},
		       READCOUNT=#{readCount},
		       REPLYCOUNT=#{replyCount}
		WHERE  BOARD_NUM=#{board_num}
	</update>
	
	<delete id="delete">
		DELETE FROM BOARD
		WHERE BOARD_NUM=#{board_num}
	</delete>
	
	
	
</mapper>
